<main>
    <section class="left">
        <h1>Agenda de Contactos openagenda.</h1>
        <p>
            Con openagenda encontrarás las mejores herramientas 
            para registrar tus contactos de una manera intuitiva, 
            además podrás consultarlos desde cualquier lugar.
        </p>
        <button class="obtain-account btn-principal" onClick={handledRegister}>Obtener Cuenta</button>
    </section>
    <section class="right">
        <img src="../../../assets/svg/img_home_page.svg" alt="img_page"/>
    </section>
</main>